@use './partial/variables' as *;

* {
    font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #FF8C43;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 104);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid orange;
    /* creates padding around scroll thumb */
}