// Sfondo
$primary-bg: rgb(255, 141, 67);
$secondary-bg: #FEB687;
$white: #FFFF;
$dark-blue : #000935;

// Palette
$blue: #4e598c;
$light-orange: #f9c784;
$orange: #fcaf58;
$dark-orange: #ff8c42;

//
$brown: #AE4D25;
$light-brown: #E67634;